/* iCheck plugin flat skin, black
----------------------------------- */
/* line 5, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/flat.scss */
.icheckbox_flat,
.iradio_flat {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/assets/icheck/flat/flat-15b63cd1d299e0cc791cd58414719b1f.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 18, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/flat.scss */
.icheckbox_flat {
  background-position: 0 0;
}

/* line 21, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/flat.scss */
.icheckbox_flat.checked {
  background-position: -22px 0;
}

/* line 24, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/flat.scss */
.icheckbox_flat.disabled {
  background-position: -44px 0;
  cursor: default;
}

/* line 28, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/flat.scss */
.icheckbox_flat.checked.disabled {
  background-position: -66px 0;
}

/* line 32, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/flat.scss */
.iradio_flat {
  background-position: -88px 0;
}

/* line 35, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/flat.scss */
.iradio_flat.checked {
  background-position: -110px 0;
}

/* line 38, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/flat.scss */
.iradio_flat.disabled {
  background-position: -132px 0;
  cursor: default;
}

/* line 42, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/flat.scss */
.iradio_flat.checked.disabled {
  background-position: -154px 0;
}

/* HiDPI support */
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 49, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/flat.scss */
  .icheckbox_flat,
  .iradio_flat {
    background-image: url(/assets/icheck/flat/flat@2x-fd69e2425864249e3acaba200334b32b.png);
    background-size: 176px 22px;
  }
}
