/* iCheck plugin Flat skin, green
----------------------------------- */
/* line 5, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/green.scss */
.icheckbox_flat-green,
.iradio_flat-green {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/assets/icheck/flat/green-a07e04e54a5c5ad2686f45fee98e51f2.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 18, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/green.scss */
.icheckbox_flat-green {
  background-position: 0 0;
}

/* line 21, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/green.scss */
.icheckbox_flat-green.checked {
  background-position: -22px 0;
}

/* line 24, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/green.scss */
.icheckbox_flat-green.disabled {
  background-position: -44px 0;
  cursor: default;
}

/* line 28, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/green.scss */
.icheckbox_flat-green.checked.disabled {
  background-position: -66px 0;
}

/* line 32, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/green.scss */
.iradio_flat-green {
  background-position: -88px 0;
}

/* line 35, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/green.scss */
.iradio_flat-green.checked {
  background-position: -110px 0;
}

/* line 38, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/green.scss */
.iradio_flat-green.disabled {
  background-position: -132px 0;
  cursor: default;
}

/* line 42, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/green.scss */
.iradio_flat-green.checked.disabled {
  background-position: -154px 0;
}

/* HiDPI support */
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 49, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/green.scss */
  .icheckbox_flat-green,
  .iradio_flat-green {
    background-image: url(/assets/icheck/flat/green@2x-1f970b76a5d33562d2ce8c4c941efa08.png);
    background-size: 176px 22px;
  }
}
