/* iCheck plugin Flat skin, grey
----------------------------------- */
/* line 5, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/grey.scss */
.icheckbox_flat-grey,
.iradio_flat-grey {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/assets/icheck/flat/grey-b81725e52b935bfb5f8da0811f6b9a4c.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 18, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/grey.scss */
.icheckbox_flat-grey {
  background-position: 0 0;
}

/* line 21, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/grey.scss */
.icheckbox_flat-grey.checked {
  background-position: -22px 0;
}

/* line 24, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/grey.scss */
.icheckbox_flat-grey.disabled {
  background-position: -44px 0;
  cursor: default;
}

/* line 28, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/grey.scss */
.icheckbox_flat-grey.checked.disabled {
  background-position: -66px 0;
}

/* line 32, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/grey.scss */
.iradio_flat-grey {
  background-position: -88px 0;
}

/* line 35, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/grey.scss */
.iradio_flat-grey.checked {
  background-position: -110px 0;
}

/* line 38, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/grey.scss */
.iradio_flat-grey.disabled {
  background-position: -132px 0;
  cursor: default;
}

/* line 42, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/grey.scss */
.iradio_flat-grey.checked.disabled {
  background-position: -154px 0;
}

/* HiDPI support */
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 49, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/grey.scss */
  .icheckbox_flat-grey,
  .iradio_flat-grey {
    background-image: url(/assets/icheck/flat/grey@2x-1c61a4da7d43d9abadf77eed5218ce71.png);
    background-size: 176px 22px;
  }
}
