/* iCheck plugin Flat skin, pink
----------------------------------- */
/* line 5, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/pink.scss */
.icheckbox_flat-pink,
.iradio_flat-pink {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/assets/icheck/flat/pink-c3cdef88b1c3492be2a91ceac267e0d2.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 18, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/pink.scss */
.icheckbox_flat-pink {
  background-position: 0 0;
}

/* line 21, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/pink.scss */
.icheckbox_flat-pink.checked {
  background-position: -22px 0;
}

/* line 24, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/pink.scss */
.icheckbox_flat-pink.disabled {
  background-position: -44px 0;
  cursor: default;
}

/* line 28, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/pink.scss */
.icheckbox_flat-pink.checked.disabled {
  background-position: -66px 0;
}

/* line 32, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/pink.scss */
.iradio_flat-pink {
  background-position: -88px 0;
}

/* line 35, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/pink.scss */
.iradio_flat-pink.checked {
  background-position: -110px 0;
}

/* line 38, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/pink.scss */
.iradio_flat-pink.disabled {
  background-position: -132px 0;
  cursor: default;
}

/* line 42, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/pink.scss */
.iradio_flat-pink.checked.disabled {
  background-position: -154px 0;
}

/* HiDPI support */
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 49, /home/dshop/.rvm/gems/ruby-2.3.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/pink.scss */
  .icheckbox_flat-pink,
  .iradio_flat-pink {
    background-image: url(/assets/icheck/flat/pink@2x-c36e646c58c4adc741f0e263325b4556.png);
    background-size: 176px 22px;
  }
}
