/* line 1, /home/dshop/.rvm/gems/ruby-2.3.0/gems/tag-it-rails-2.0.0/vendor/assets/stylesheets/jquery.tagit.css */
ul.tagit {
  padding: 1px 5px;
  overflow: auto;
  margin-left: inherit;
  /* usually we don't want the regular ul margins. */
  margin-right: inherit;
}

/* line 7, /home/dshop/.rvm/gems/ruby-2.3.0/gems/tag-it-rails-2.0.0/vendor/assets/stylesheets/jquery.tagit.css */
ul.tagit li {
  display: block;
  float: left;
  margin: 2px 5px 2px 0;
}

/* line 12, /home/dshop/.rvm/gems/ruby-2.3.0/gems/tag-it-rails-2.0.0/vendor/assets/stylesheets/jquery.tagit.css */
ul.tagit li.tagit-choice {
  position: relative;
  line-height: inherit;
}

/* line 16, /home/dshop/.rvm/gems/ruby-2.3.0/gems/tag-it-rails-2.0.0/vendor/assets/stylesheets/jquery.tagit.css */
input.tagit-hidden-field {
  display: none;
}

/* line 19, /home/dshop/.rvm/gems/ruby-2.3.0/gems/tag-it-rails-2.0.0/vendor/assets/stylesheets/jquery.tagit.css */
ul.tagit li.tagit-choice-read-only {
  padding: .2em .5em .2em .5em;
}

/* line 23, /home/dshop/.rvm/gems/ruby-2.3.0/gems/tag-it-rails-2.0.0/vendor/assets/stylesheets/jquery.tagit.css */
ul.tagit li.tagit-choice-editable {
  padding: .2em 18px .2em .5em;
}

/* line 27, /home/dshop/.rvm/gems/ruby-2.3.0/gems/tag-it-rails-2.0.0/vendor/assets/stylesheets/jquery.tagit.css */
ul.tagit li.tagit-new {
  padding: .25em 4px .25em 0;
}

/* line 31, /home/dshop/.rvm/gems/ruby-2.3.0/gems/tag-it-rails-2.0.0/vendor/assets/stylesheets/jquery.tagit.css */
ul.tagit li.tagit-choice a.tagit-label {
  cursor: pointer;
  text-decoration: none;
}

/* line 35, /home/dshop/.rvm/gems/ruby-2.3.0/gems/tag-it-rails-2.0.0/vendor/assets/stylesheets/jquery.tagit.css */
ul.tagit li.tagit-choice .tagit-close {
  cursor: pointer;
  position: absolute;
  right: .1em;
  top: 50%;
  margin-top: -8px;
  line-height: 17px;
}

/* used for some custom themes that don't need image icons */
/* line 45, /home/dshop/.rvm/gems/ruby-2.3.0/gems/tag-it-rails-2.0.0/vendor/assets/stylesheets/jquery.tagit.css */
ul.tagit li.tagit-choice .tagit-close .text-icon {
  display: none;
}

/* line 49, /home/dshop/.rvm/gems/ruby-2.3.0/gems/tag-it-rails-2.0.0/vendor/assets/stylesheets/jquery.tagit.css */
ul.tagit li.tagit-choice input {
  display: block;
  float: left;
  margin: 2px 5px 2px 0;
}

/* line 54, /home/dshop/.rvm/gems/ruby-2.3.0/gems/tag-it-rails-2.0.0/vendor/assets/stylesheets/jquery.tagit.css */
ul.tagit input[type="text"] {
  box-sizing: border-box;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
  width: inherit;
  background-color: inherit;
  outline: none;
}
/* line 1, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.stylish-input-group .input-group-addon {
  background: white !important;
}

/* line 4, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
}

/* line 9, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.stylish-input-group button {
  border: 0;
  background: transparent;
}

/* line 14, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.wrapper {
  margin: 50px 50px 50px 50px;
}

/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .onl_spanOr use @body-bg instead of white.
*/
@media (min-width: 768px) {
  /* line 26, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
  .onl_row-sm-offset-3 div:first-child[class*="col-"] {
    margin-left: 25%;
  }
}
/* line 30, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
body {
  font-family: 'Titillium Web', sans-serif;
}

/* line 33, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_authTitle {
  text-align: center;
  line-height: 300%;
}

/* line 38, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_socialButtons a {
  color: white;
  opacity: 0.9;
}

/* line 42, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_socialButtons a:hover {
  color: white;
  opacity: 1;
}

/* line 46, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_socialButtons .onl_btn-facebook {
  background: #3b5998;
  border-color: #172d5e;
}

/* line 47, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_socialButtons .onl_btn-twitter {
  background: #00aced;
  border-color: #043d52;
}

/* line 48, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_socialButtons .onl_btn-google-plus {
  background: #c32f10;
  border-color: #6b1301;
}

/* line 49, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_socialButtons .onl_btn-soundcloud {
  background: #ff8800;
  border-color: #c73e04;
}

/* line 50, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_socialButtons .onl_btn-github {
  background: #666666;
  border-color: #333333;
}

/* line 51, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_socialButtons .onl_btn-steam {
  background: #878787;
  border-color: #292929;
}

/* line 52, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_socialButtons .onl_btn-pinterest {
  background: #cc2127;
  border-color: #780004;
}

/* line 53, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_socialButtons .onl_btn-vimeo {
  background: #1ab7ea;
  border-color: #162221;
}

/* line 54, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_socialButtons .onl_btn-lastfm {
  background: #c3000d;
  border-color: #5e0208;
}

/* line 55, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_socialButtons .onl_btn-yahoo {
  background: #400191;
  border-color: #230052;
}

/* line 56, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_socialButtons .onl_btn-vk {
  background: #45668e;
  border-color: #1a3352;
}

/* line 57, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_socialButtons .onl_btn-spotify {
  background: #7ab800;
  border-color: #3a5700;
}

/* line 58, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_socialButtons .onl_btn-linkedin {
  background: #0976b4;
  border-color: #004269;
}

/* line 59, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_socialButtons .onl_btn-stumbleupon {
  background: #eb4924;
  border-color: #943019;
}

/* line 60, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_socialButtons .onl_btn-tumblr {
  background: #35465c;
  border-color: #142030;
}

/* line 63, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* line 72, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_loginOr .onl_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/* line 78, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_loginOr .onl_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}

/* line 89, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_loginForm .input-group.i {
  width: 2em;
}

/* line 92, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
.onl_login .onl_loginForm .help-block {
  color: red;
}

@media (min-width: 768px) {
  /* line 98, /home/dshop/Projects/appisode/app/assets/stylesheets/show.css.scss */
  .onl_login .onl_forgotPwd {
    text-align: right;
    margin-top: 10px;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

